.grid {
  width: 450px;
  height: 450px;
  display: grid;
  grid-gap: 5px;
  background-color: var(--blue-dark);
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.grid > div {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  font-family: var(--text-rounded);
  color: var(--cream);
}

button {
  visibility: hidden;
}
